html,
body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
}
.ui.inverted.dimmer {
    background-color: rgba(255, 255, 255, 1) !important;
}
.uptime-avatar {
    width: 48px;
    height: 48px;
    border-radius: 24px;
}
.octicon {
    margin-right: 32px;
    font-size: 24px !important;
}
.graph-font {
    color: #000;
}
.uptime-layout {
    background-color: #f5f5f5 !important;
}
.uptime-layout .uptime-header .mdl-textfield {
    padding: 0px;
    margin-top: 41px;
}
.uptime-layout .uptime-header .mdl-textfield .mdl-textfield__expandable-holder {
    bottom: 19px;
}
.uptime-layout .mdl-layout__header .mdl-layout__drawer-button {
    color: rgba(0, 0, 0, 0.54);
}
.mdl-layout__drawer .avatar {
    margin-bottom: 16px;
}
.uptime-drawer {
    border: none;
}

/* iOS Safari specific workaround */

.uptime-drawer .mdl-menu__container {
    z-index: -1;
}
.uptime-drawer .uptime-navigation {
    z-index: -2;
}

/* END iOS Safari specific workaround */

.uptime-drawer .mdl-menu .mdl-menu__item {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.uptime-drawer-header {
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 16px;
    height: 65px;
}
.uptime-avatar-dropdown {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
}
.uptime-navigation {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.uptime-layout .uptime-navigation .mdl-navigation__link {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.56);
    font-weight: 250;
}
.uptime-layout .uptime-navigation .mdl-navigation__link:hover {
    background-color: #00BCD4;
    color: #37474F;
}
.uptime-navigation .mdl-navigation__link .material-icons {
    font-size: 24px;
    color: rgba(255, 255, 255, 0.56);
    margin-right: 32px;
}
.uptime-content {
    max-width: 1080px;
}
.uptime-color {
    color: #009688;
}
.uptime-charts {
    -webkit-align-items: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
}
.uptime-chart:nth-child(1) {
    color: #ACEC00;
}
.uptime-chart:nth-child(2) {
    color: #00BBD6;
}
.uptime-chart:nth-child(3) {
    color: #BA65C9;
}
.uptime-chart:nth-child(4) {
    color: #EF3C79;
}
.uptime-graphs {
    min-height: 220px;
    padding: 16px 32px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}
#under-text {
    line-height: 300px;
    text-align: center;
    font-family: helvetica, arial, sans-serif;
    font-weight: 100;
}

/* TODO: Find a proper solution to have the graphs
 * not float around outside their container in IE10/11.
 * Using a browserhacks.com solution for now.
 */

_:-ms-input-placeholder,
:root .uptime-graphs {
    min-height: 664px;
}
_:-ms-input-placeholder,
:root .uptime-graph {
    max-height: 300px;
}
/* TODO end */

.uptime-graph:nth-child(1) {
    color: #00b9d8;
}
.uptime-graph:nth-child(2) {
    color: #d9006e;
}
.uptime-cards {
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    -ms-grid-row-align: flex-start;
    align-items: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
}
.uptime-cards .uptime-separator {
    height: 32px;
}
.uptime-cards .mdl-card__title.mdl-card__title {
    color: white;
    font-size: 24px;
    font-weight: 400;
}
.uptime-cards ul {
    padding: 0;
}
.uptime-cards h3 {
    font-size: 1em;
}
.uptime-updates .mdl-card {
    min-height: 10px !important;
    background-position: 90% 100%;
    background-repeat: no-repeat;
}
.uptime-shortupdates {
    min-height: 50px !important;
}
.uptime-miniupdates {
    min-height: 20px !important;
}
.uptime-cards .mdl-card__actions a {
    color: #00BCD4;
    text-decoration: none;
}
.uptime-options h3 {
    margin: 0;
}
.uptime-options .mdl-checkbox__box-outline {
    border-color: rgba(255, 255, 255, 0.89);
}
.uptime-options ul {
    margin: 0;
    list-style-type: none;
}
.uptime-options li {
    margin: 4px 0;
}
.uptime-options .material-icons {
    color: rgba(255, 255, 255, 0.89);
}
.uptime-options .mdl-card__actions {
    height: 64px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    box-sizing: border-box;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.full-width {
    width: 100%;
}

/* CSS to control the card popup when the mouse hover it */

.avatar-icon {
    margin-top: 25px;
}
.full-width {
    width: 100%;
}
.ripplelink {
    display: block;
    float: left;
    width: 100%;
    text-align: center;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    z-index: 0;
}
.ripplelink:hover {
    z-index: 100;
    box-shadow: rgba(0, 0, 0, 0.3) 0 16px 16px 0;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 16px 16px 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 16px 16px 0;
}

/* CSS to control the border b/w title and content in the cards*/

.border-control {
    left: 15px;
    right: 0;
    width: 90%;
    margin-left: 15px
}

/* CSS For all tables default behaviour */
/* Table hover effect (all tables in the website) */

.table-layout {
    table-layout: fixed;
}
.td-wrap {
    word-wrap: break-word;
    white-space: normal !important;
}
.text-align-right {
    text-align: right !important;
}
.th-color {
    background: #f9fafb;
    font-weight: 250 !important;
    font-size: 14px !important;
    color: black !important;
}

.tr-color:hover {
    background: #ECEAEE;
}

/* CSS For Section: dashboard.html */
/* Short updates click link css (dashboard) */

.remove-padding {
    padding: 0px !important;
}

a {
    color: #009688;
}
a:hover {
    color: red;
    cursor: pointer;
    cursor: hand;
    opacity: 0.9 !important;
}
.disable-link {
    text-decoration: none;
    background-color: #fff;
    color: grey;
    pointer-events: none !important;
    cursor: default;
}

.verticalLine {
    border-left: thick solid #ff0000;
}

/* CSS For Section: weblinks.html */

.icon_attributes {
    opacity: 0.3 !important;
    font-size: 1.5em !important;
}
.icon_attributes:hover {
    opacity: 1 !important;
}
.pad-left {
    padding-left: 10px;
}
.btn-align {
    display: inline-block;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    position: fixed;
    bottom: 1em;
    right: 25px;
    background: #009688;
    color: white;
    box-shadow: 5px 5px 5px #888888;
    z-index: 999;
}
.btn-align:hover {
    background: red;
    color: white;
}
select {
    font-family: inherit;
    background-color: transparent;
    width: 100%;
    padding: $select-padding 0;
    font-size: $select-font-size;
    color: $select-color;
    border: none;
    border-bottom: 1px solid $select-border-color;
}
select:focus {
    outline: none
}
.mdl-selectfield label {
    display: none;
}
.mdl-selectfield select {
    appearance: none
}
.mdl-selectfield {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    position: relative;
    &:after {
        position: absolute;
        top: 0.75em;
        right: 0.5em;
        /* Styling the down arrow */

        width: 0;
        height: 0;
        padding: 0;
        content: '';
        border-left: .25em solid transparent;
        border-right: .25em solid transparent;
        border-top: .375em solid $select-border-color;
        pointer-events: none;
    }
}
.btn-sumbit {
    background: #009688;
    color: white;
}
.btn-sumbit:hover {
    background: red;
}

/* CSS For Section: kb_new.html & kb_updated.html */

.toggle-color {
    background: #009688;
    color: white;
}
.toggle-color:hover {
    background: #009688;
}
.btn-kbdata {
    width: 25%;
    left: 19%;
    top: 10%;
}
.active-kb .btn-kbdata {
    background: #009688;
    color: white;
    display: block !important;
}
.inactive-kb {
    display: none !important;
}

.active-div {
    color: white;
    display: block !important;
}

.inactive-div {
    display: none !important;
    position:initial !important;
    z-index: 1;
}

.filter-button{
    height: 35.81px;
    left: 2.3%;
    margin-top: 0.62% !important;
    padding: 12px 25px 0px 25px !important;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12) !important;
}

.filter-selection {
    background: #009688 !important;
    color: white !important;
}

/* CSS For Section: kb_my.html */

.uptime-card-title {
    padding: 5px 0px 5px 15px;
    font-size: 20px;
    font-weight: 500;
    color: #424242;
}
.uptime-card-text {
    font-size: 20px;
    color: grey;
}
.uptime-card-text2 {
    font-size: 34px;
    color: grey;
}
.result-padding {
    padding: 3px;
}

/* Section: trends */

.uptime-card-margin {
    margin-top: 1.15em

}