{% block body %}

<main id="dashboard" class="mdl-layout__content mdl-color--grey-100">

    <div class="mdl-grid uptime-content">

        <!-- Metrics tiles -->

        <!--Open Ticket status-->
        <div class="uptime-shortupdates mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--3-col mdl-cell--3-col-desktop ripplelink">
            <div class="mdl-card__title-text uptime-card-title uptime-color"> Open Tickets</div>
            <div class="mdl-card__actions mdl-card--border border-control remove-padding"></div>
            <div id="open" class="mdl-typography--display-2 result-padding"></div>

            <div id="tickets_open_table_box" class="ui basic modal">
                <div class="actions">
                    <div class="ui cancel circular inverted red icon button"><i class="icon remove"></i></div>
                </div>
                <table id="tickets_open_table"
                       class="mdl-cell mdl-cell--6-col mdl-data-table mdl-js-data-table mdl-shadow--2dp"
                       style="width: 100%">
                    <thead>
                    <tr>
                        <th class="th-color mdl-data-table__cell--non-numeric">Ticket #</th>
                        <th class="th-color mdl-cell--hide-phone mdl-data-table__cell--non-numeric">Subject</th>
                        <th class="th-color mdl-cell--hide-tablet mdl-cell--hide-phone mdl-data-table__cell--non-numeric">
                            Assignee
                        </th>
                        <th class="th-color mdl-cell--hide-tablet mdl-cell--hide-phone mdl-data-table__cell--non-numeric">
                            Contact
                        </th>
                        <th class="th-color mdl-data-table__cell--non-numeric">Priority</th>
                        <th class="th-color mdl-data-table__cell--non-numeric">Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>

        <!--Closed ticket status-->
        <div class="uptime-shortupdates mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--3-col mdl-cell--3-col-desktop ripplelink">
            <div class="mdl-card__title-text uptime-card-title uptime-color"> Closed Tickets</div>
            <div class="mdl-card__actions mdl-card--border border-control remove-padding"></div>
            <div id="closed" class="mdl-typography--display-2 result-padding"></div>

            <div id="tickets_closed_table_box" class="ui basic modal">
                <div class="actions">
                    <div class="ui cancel circular inverted red icon button"><i class="icon remove"></i></div>
                </div>
                <table id="tickets_closed_table"
                       class="mdl-cell mdl-cell--6-col mdl-data-table mdl-js-data-table mdl-shadow--2dp"
                       style="width: 100%">
                    <thead>
                    <tr>
                        <th class="th-color mdl-data-table__cell--non-numeric">Ticket #</th>
                        <th class="th-color mdl-cell--hide-phone mdl-data-table__cell--non-numeric">Subject</th>
                        <th class="th-color mdl-cell--hide-tablet mdl-cell--hide-phone mdl-data-table__cell--non-numeric">
                            Assignee
                        </th>
                        <th class="th-color mdl-cell--hide-tablet mdl-cell--hide-phone mdl-data-table__cell--non-numeric">
                            Contact
                        </th>
                        <th class="th-color mdl-data-table__cell--non-numeric">Priority</th>
                        <th class="th-color mdl-data-table__cell--non-numeric">Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>

        <!--Assigned ticket status-->
        <div class="uptime-shortupdates mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--3-col mdl-cell--3-col-desktop ripplelink">
            <div class="mdl-card__title-text uptime-card-title uptime-color"> Assigned Tickets</div>
            <div class="mdl-card__actions mdl-card--border border-control remove-padding"></div>
            <div id="assigned" class="mdl-typography--display-2 result-padding"></div>

            <div id="tickets_assigned_table_box" class="ui basic modal">
                <div class="actions">
                    <div class="ui cancel circular inverted red icon button"><i class="icon remove"></i></div>
                </div>
                <table id="tickets_assigned_table"
                       class="mdl-cell mdl-cell--6-col mdl-data-table mdl-js-data-table mdl-shadow--2dp"
                       style="width: 100%">
                    <thead>
                    <tr>
                        <th class="th-color mdl-data-table__cell--non-numeric">Ticket #</th>
                        <th class="th-color mdl-cell--hide-phone mdl-data-table__cell--non-numeric">Subject</th>
                        <th class="th-color mdl-cell--hide-tablet mdl-cell--hide-phone mdl-data-table__cell--non-numeric">
                            Assignee
                        </th>
                        <th class="th-color mdl-cell--hide-tablet mdl-cell--hide-phone mdl-data-table__cell--non-numeric">
                            Contact
                        </th>
                        <th class="th-color mdl-data-table__cell--non-numeric">Priority</th>
                        <th class="th-color mdl-data-table__cell--non-numeric">Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>

        <!--Updated ticket status-->
        <div class="uptime-shortupdates mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--3-col mdl-cell--3-col-desktop ripplelink">
            <div class="mdl-card__title-text uptime-card-title uptime-color">Updated Tickets</div>
            <div class="mdl-card__actions mdl-card--border border-control remove-padding"></div>
            <div id="updated" class="mdl-typography--display-2 result-padding"></div>

            <div id="tickets_updated_table_box" class="ui basic modal">
                <div class="actions">
                    <div class="ui cancel circular inverted red icon button"><i class="icon remove"></i></div>
                </div>
                <table id="tickets_updated_table"
                       class="mdl-cell mdl-cell--6-col mdl-data-table mdl-js-data-table mdl-shadow--2dp"
                       style="width: 100%">
                    <thead>
                    <tr>
                        <th class="th-color mdl-data-table__cell--non-numeric">Ticket #</th>
                        <th class="th-color mdl-cell--hide-phone mdl-data-table__cell--non-numeric">Subject</th>
                        <th class="th-color mdl-cell--hide-tablet mdl-cell--hide-phone mdl-data-table__cell--non-numeric">
                            Assignee
                        </th>
                        <th class="th-color mdl-cell--hide-tablet mdl-cell--hide-phone mdl-data-table__cell--non-numeric">
                            Contact
                        </th>
                        <th class="th-color mdl-data-table__cell--non-numeric">Priority</th>
                        <th class="th-color mdl-data-table__cell--non-numeric">Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Gauge charts -->

        <!--Today's chart-->
        <div class="uptime-shortupdates mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--4-col mdl-cell--4-col-desktop ripplelink">
            <div class="mdl-card__title-text uptime-card-title uptime-color">Today</div>
            <div class="mdl-card__actions mdl-card--border border-control remove-padding"></div>
            <div class="graph-font" id="today"></div>
            <h4 style="margin: 0; padding-bottom: 5px"><span style="padding-right:100px;">0h</span><span
                    style="padding-left:110px">8h</span></h4>
        </div>

        <!--Week's chart-->
        <div class="uptime-shortupdates mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--4-col mdl-cell--4-col-desktop ripplelink">
            <div class="mdl-card__title-text uptime-card-title uptime-color">Week</div>
            <div class="mdl-card__actions mdl-card--border border-control remove-padding"></div>
            <div class="graph-font" id="week"></div>
            <h4 style="margin: 0; padding-bottom: 5px"><span style="padding-right:100px;">0h</span><span
                    style="padding-left:110px">40h</span></h4>
        </div>

        <!--Month's chart-->
        <div class="uptime-shortupdates mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--4-col mdl-cell--4-col-desktop ripplelink">
            <div class="mdl-card__title-text uptime-card-title uptime-color">Month</div>
            <div class="mdl-card__actions mdl-card--border border-control remove-padding"></div>
            <div class="graph-font" id="month"></div>
            <h4 style="margin: 0; padding-bottom: 5px"><span style="padding-right:95px;">0h</span><span
                    style="padding-left:110px">160h</span></h4>
        </div>

        <!-- Bar chart -->
        <div class="uptime-graphs mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col mdl-cell--12-col-desktop ripplelink">
            <div class="mdl-card__title-text uptime-card-title">Week Progress</div>
            <div class="mdl-layout-spacer"></div>
            <div class="mdl-card__actions mdl-card--border graph-font" id="bar"></div>
        </div>

        <!-- Mini status update -->
        <div id="miniupdate-text" class="uptime-miniupdates uptime- mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col ripplelink">
            <div class="uptime-shortupdates mdl-cell mdl-cell--4-col mdl-cell--4-col-desktop" style="float:left; border-right: 1px solid rgba(0,0,0,.1)">
                <div class="mdl-card__title-text uptime-card-title uptime-color">Last Time Recorded</div>
                <div class="mdl-card__actions mdl-card--border border-control remove-padding"></div>
                <div id="ts-last-update" class="mdl-typography--display-2 result-padding uptime-card-text2"></div>
            </div>
            <div class="uptime-shortupdates mdl-cell mdl-cell--4-col mdl-cell--4-col-desktop" style="float:left; border-right: 1px solid rgba(0,0,0,.1)">
                <div class="mdl-card__title-text uptime-card-title uptime-color">Last Updated Ticket</div>
                <div class="mdl-card__actions mdl-card--border border-control remove-padding"></div>
                <div class="mdl-typography--display-2 result-padding uptime-card-text2"><a id="ticket-last-update" target="_blank"></a></div>
            </div>
            <div class="uptime-shortupdates mdl-cell mdl-cell--4-col mdl-cell--4-col-desktop" style="float:left">
                <div class="mdl-card__title-text uptime-card-title uptime-color">Time Since Last Update</div>
                <div class="mdl-card__actions mdl-card--border border-control remove-padding"></div>
                <div id="time-last-update" class="mdl-typography--display-2 result-padding uptime-card-text2"></div>
            </div>
        </div>

        <!-- Ticket updates table -->
        <table id="ticket-table"
               class="table-layout mdl-cell mdl-cell--12-col mdl-data-table mdl-js-data-table mdl-shadow--2dp">
            <thead>
            <tr>
                <th class="th-color mdl-data-table__cell--non-numeric">Ticket #</th>
                <th class="th-color mdl-cell--hide-phone mdl-data-table__cell--non-numeric" width="35%">Subject</th>
                <th class="th-color mdl-cell--hide-tablet mdl-cell--hide-phone mdl-data-table__cell--non-numeric">
                    Assignee
                </th>
                <th class="th-color mdl-cell--hide-tablet mdl-cell--hide-phone mdl-data-table__cell--non-numeric">
                    Contact
                </th>
                <th class="th-color mdl-cell--hide-phone mdl-data-table__cell--non-numeric">Update time</th>
                <th class="th-color mdl-data-table__cell--non-numeric">Time logged</th>
                <th class="th-color mdl-data-table__cell--non-numeric">Ticket status</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</main>
{% endblock %}