{% include "header.html" %}

<body>

	<div class="wrapper">

		{% include "navigationbar.html" %}

        <!-- Modal -->

        <div aria-labelledby="myModalLabel" class="modal fade" id="openModal" role="dialog" tabindex="-1">
            <div class="modal-dialog modal-width" role="document">
                <div class="modal-content card card-stats">
                    <div class="card-header" data-background-color="pivotal">
                        <i class="material-icons">drafts</i>
                    </div>
                    <div class="modal-header">
                        <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Open Tickets</h4>
                    </div>
                    <div class="modal-body">
                        <table class="table table-hover" id="tickets_open_table">
                            <thead class="text-warning">
                            <tr>
                                <th>Ticket#</th>
                                <th class="hidden-sm hidden-xs">Subject</th>
                                <th class="hidden-sm hidden-xs">Assignee</th>
                                <th class="hidden-sm hidden-xs">Contact</th>
                                <th>Priority</th>
                                <th>Ticket status</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-default btn-simple" data-dismiss="modal" type="button">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div aria-labelledby="myModalLabel" class="modal fade" id="closedModal" role="dialog" tabindex="-1">
            <div class="modal-dialog modal-width" role="document">
                <div class="modal-content card card-stats">
                    <div class="card-header" data-background-color="pivotal">
                        <i class="material-icons">mail</i>
                    </div>
                    <div class="modal-header">
                        <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Closed Tickets</h4>
                    </div>
                    <div class="modal-body">
                        <table class="table table-hover" id="tickets_closed_table">
                            <thead class="text-warning">
                            <tr>
                                <th>Ticket#</th>
                                <th class="hidden-sm hidden-xs">Subject</th>
                                <th class="hidden-sm hidden-xs">Assignee</th>
                                <th class="hidden-sm hidden-xs">Contact</th>
                                <th>Priority</th>
                                <th>Ticket status</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-default btn-simple" data-dismiss="modal" type="button">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div aria-labelledby="myModalLabel" class="modal fade" id="assignedModal" role="dialog" tabindex="-1">
            <div class="modal-dialog modal-width" role="document">
                <div class="modal-content card card-stats">
                    <div class="card-header" data-background-color="pivotal">
                        <i class="material-icons">archive</i>
                    </div>
                    <div class="modal-header">
                        <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Assigned Tickets</h4>
                    </div>
                    <div class="modal-body">
                        <table class="table table-hover" id="tickets_assigned_table">
                            <thead class="text-warning">
                            <tr>
                                <th>Ticket#</th>
                                <th class="hidden-sm hidden-xs">Subject</th>
                                <th class="hidden-sm hidden-xs">Assignee</th>
                                <th class="hidden-sm hidden-xs">Contact</th>
                                <th>Priority</th>
                                <th>Ticket status</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-default btn-simple" data-dismiss="modal" type="button">Close</button>
                    </div>
                </div>
            </div>
        </div>


        <div aria-labelledby="myModalLabel" class="modal fade" id="updatedModal" role="dialog" tabindex="-1">
            <div class="modal-dialog modal-width" role="document">
                <div class="modal-content card card-stats">
                    <div class="card-header" data-background-color="pivotal">
                        <i class="material-icons">unarchive</i>
                    </div>
                    <div class="modal-header">
                        <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Updated Tickets</h4>
                    </div>
                    <div class="modal-body">
                        <table class="table table-hover" id="tickets_updated_table">
                            <thead class="text-warning">
                            <tr>
                                <th>Ticket#</th>
                                <th class="hidden-sm hidden-xs">Subject</th>
                                <th class="hidden-sm hidden-xs">Assignee</th>
                                <th class="hidden-sm hidden-xs">Contact</th>
                                <th>Priority</th>
                                <th>Ticket status</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-default btn-simple" data-dismiss="modal" type="button">Close</button>
                    </div>
                </div>
            </div>
        </div>



	    <div class="main-panel">
			<nav class="navbar navbar-transparent navbar-absolute">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<p class="navbar-brand">Today</p>
					</div>
				</div>
			</nav>


            <div class="sidebar-container content">
		        <div class="container-fluid">

                    <!--# Short ticket summary -->
			        <div class="row">
				        <div class="col-lg-3 col-md-6 col-sm-6">
					        <div class="card card-stats">
						        <div class="card-header" data-background-color="pivotal">
							        <i class="material-icons">drafts</i>
						        </div>
						        <div class="card-content">
                                    <p class="category">Open Tickets</p>
                                    <h3 class="title" id="open">00</h3>
						        </div>
					        </div>
				        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="card card-stats">
                                <div class="card-header" data-background-color="pivotal">
                                    <i class="material-icons">mail</i>
                                </div>
                                <div class="card-content">
                                    <p class="category">Closed Tickets</p>
                                    <h3 class="title" id="closed">00</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="card card-stats">
                                <div class="card-header" data-background-color="pivotal">
                                    <i class="material-icons">archive</i>
                                </div>
                                <div class="card-content">
                                    <p class="category">Assigned Tickets</p>
                                    <h3 class="title" id="assigned">00</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="card card-stats">
                                <div class="card-header" data-background-color="pivotal">
                                    <i class="material-icons">unarchive</i>
                                </div>
                                <div class="card-content">
                                    <p class="category">Updated Tickets</p>
                                    <h3 class="title" id="updated">00</h3>
                                </div>
                            </div>
                        </div>
			        </div>

                    <!--# Gauge Charts-->
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-header card-chart" data-background-color="pivotal">
                                    <div class="ct-chart" id="today"></div>
                                </div>
                                <div class="card-content">
                                    <h4 class="title">Today</h4>
                                    <p class="category">Scale: <span class="text-success">0-8(hrs)</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-header card-chart" data-background-color="pivotal">
                                    <div class="ct-chart" id="week"></div>
                                </div>
                                <div class="card-content">
                                    <h4 class="title">Week</h4>
                                    <p class="category">Scale: <span class="text-success">0-40(hrs)</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-header card-chart" data-background-color="pivotal">
                                    <div class="ct-chart" id="month"></div>
                                </div>
                                <div class="card-content">
                                    <h4 class="title">Month</h4>
                                    <p class="category">Scale: <span class="text-success">0-160(hrs)</span></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--# Week Progress Bar chart-->
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="card card-stats">
                                <div class="card-header" data-background-color="pivotal">
                                    <i class="fa fa-bar-chart" aria-hidden="true"></i>
                                </div>
                                <div class="card-content">
                                    <h4 class="card-title title-text-align">Week Progress</h4>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-4">
                                    <div class="ct-chart" id="bar"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--# Ticket updates summary table-->
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="card">
                                <div class="card-header" data-background-color="pivotal">
                                    <h4 class="title">Ticket Updates</h4>
                                    <div id="miniupdate-text">
                                        <p class="category">Last updated ticket: <span><a id="ticket-last-update" target="_blank">0</a></span> | Last Time Recorded : <span id="ts-last-update">00:00:00</span> | Time Since Last Update : <span id="time-last-update">00:00:00</span></p>
                                    </div>
                                </div>
                                <div class="card-content table-responsive">
                                    <table class="table table-hover" id="ticket-table">
                                        <thead class="text-warning">
                                            <tr>
                                                <th>Ticket#</th>
                                                <th class="hidden-xs">Subject</th>
                                                <th class="hidden-sm hidden-xs">Assignee</th>
                                                <th class="hidden-xs">Contact</th>
                                                <th class="hidden-sm hidden-xs">Update time</th>
                                                <th>Time logged</th>
                                                <th>Ticket status</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>


		        </div>
	        </div>

			{% include "footer.html" %}
		</div>
	</div>

</body>
    {% include "javascripts.html" %}
    <script src="{{ url_for('static', filename='js/dashboard.js')}}"></script>
	<script type="text/javascript">
        $('#dashboard_nav').addClass("active")
	</script>
</html>
