{% block body %}
<main id="historic" class="mdl-layout__content mdl-color--grey-100" style="display:none;">
    <div class="mdl-grid uptime-content">

        <div class="uptime-graphs mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col ripplelink">
            <div class="mdl-card__title-text uptime-color">Time Spend in Last 12 Weeks</div>
            <div class="mdl-layout-spacer"></div>
            <div id="historic_week" class="mdl-card__actions mdl-card--border graph-font"></div>
        </div>

        <div class="uptime-graphs mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--6-col mdl-cell--6-col-desktop ripplelink">
            <div class="mdl-card__title-text uptime-color">Time Spend in Last 06 Months</div>
            <div class="mdl-layout-spacer"></div>
            <div id="historic_month" class="mdl-card__actions mdl-card--border graph-font"></div>
        </div>

        <div class="uptime-graphs mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--6-col mdl-cell--6-col-desktop ripplelink">
            <div class="mdl-card__title-text uptime-color">Time Spend in Last 05 Years</div>
            <div class="mdl-layout-spacer"></div>
            <div id="historic_year" class="mdl-card__actions mdl-card--border graph-font"></div>
        </div>

        <div class="uptime-graphs mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--6-col mdl-cell--12-col-desktop ripplelink">
            <div class="mdl-card__title-text uptime-color">Time Spend Per Organization For Current Month (Top 10)</div>
            <div class="mdl-layout-spacer"></div>
            <div id="historic_org" class="mdl-card__actions mdl-card--border graph-font"></div>
        </div>

        <div class="uptime-graphs mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--6-col mdl-cell--12-col-desktop ripplelink">
            <div class="mdl-card__title-text uptime-color">Time Spend Per Ticket For Current Month (Top 10)</div>
            <div class="mdl-layout-spacer"></div>
            <div id="historic_ticket" class="mdl-card__actions mdl-card--border graph-font"></div>
        </div>

    </div>
</main>
{% endblock %}