{% block body %}
<main id="kbanalytics" class="mdl-layout__content mdl-color--grey-100" style="display:none;">

    <div class="mdl-grid uptime-content">

        <div class="uptime-shortupdates mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-cell--2-col-desktop">
            <div class="mdl-shadow--2dp mdl-color--white ripplelink">
                <div class="mdl-card__title-text uptime-card-title uptime-card-title uptime-color">Articles</div>
                <div class="mdl-layout-spacer"></div>
                <div class="mdl-card__actions mdl-card--border border-control remove-padding"></div>
                <div id="total_articles" class="mdl-typography--display-2 result-padding uptime-card-text2">00</div>
            </div>
            <div class="mdl-shadow--2dp mdl-color--white ripplelink uptime-card-margin">
                <div class="mdl-card__title-text uptime-card-title uptime-card-title uptime-color">Votes</div>
                <div class="mdl-layout-spacer"></div>
                <div class="mdl-card__actions mdl-card--border border-control remove-padding"></div>
                <div id="total_votes" class="mdl-typography--display-2 result-padding uptime-card-text2">00</div>
            </div>
            <div class="mdl-shadow--2dp mdl-color--white ripplelink uptime-card-margin">
                <div class="mdl-card__title-text uptime-card-title uptime-card-title uptime-color">Comments</div>
                <div class="mdl-layout-spacer"></div>
                <div class="mdl-card__actions mdl-card--border border-control remove-padding"></div>
                <div id="total_comments" class="mdl-typography--display-2 result-padding uptime-card-text2">00</div>
            </div>
        </div>

        <div class="uptime-graphs mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col mdl-cell--10-col-desktop ripplelink">
            <div class="mdl-card__title-text uptime-card-title uptime-color">Articles Created Per Month (Last 12 Months)</div>
            <div class="mdl-layout-spacer"></div>
            <div id="kb_per_month" class="mdl-card__actions mdl-card--border graph-font"></div>
        </div>

        <div class="uptime-graphs mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--6-col mdl-cell--6-col-desktop ripplelink">
            <div class="mdl-card__title-text uptime-card-title uptime-color">Contribution Per Category (Current Month)</div>
            <div class="mdl-layout-spacer"></div>
            <div id="kb_current_month_per_catgeory" class="mdl-card__actions mdl-card--border graph-font"></div>
        </div>

        <div class="uptime-graphs mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--6-col mdl-cell--6-col-desktop ripplelink">
            <div class="mdl-card__title-text uptime-card-title uptime-color">Top 10 Contributors (Current Month)</div>
            <div class="mdl-layout-spacer"></div>
            <div id="kb_current_month_per_author" class="mdl-card__actions mdl-card--border graph-font"></div>
        </div>

        <div class="uptime-graphs mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--6-col mdl-cell--6-col-desktop ripplelink">
            <div class="mdl-card__title-text uptime-card-title uptime-color">Articles Currently In Draft</div>
            <div class="mdl-layout-spacer"></div>
            <div id="kb_in_draft" class="mdl-card__actions mdl-card--border graph-font"></div>
        </div>

        <div class="uptime-graphs mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--6-col mdl-cell--6-col-desktop ripplelink">
            <div class="mdl-card__title-text uptime-card-title uptime-color">Articles Currently Under Review</div>
            <div class="mdl-layout-spacer"></div>
            <div id="kb_in_review" class="mdl-card__actions mdl-card--border graph-font"></div>
        </div>

        <div class="uptime-graphs mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--6-col mdl-cell--6-col-desktop ripplelink">
            <div class="mdl-card__title-text uptime-card-title uptime-color">Votes On Article (Last 06 Months)</div>
            <div class="mdl-layout-spacer"></div>
            <div id="kb_votes_per_month" class="mdl-card__actions mdl-card--border graph-font"></div>
        </div>

        <div class="uptime-graphs mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--6-col mdl-cell--6-col-desktop ripplelink">
            <div class="mdl-card__title-text uptime-card-title uptime-color">Comments On Article (Last 06 Months)</div>
            <div class="mdl-layout-spacer"></div>
            <div id="kb_comments_per_month" class="mdl-card__actions mdl-card--border graph-font"></div>
        </div>

        <div class="uptime-graphs mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--6-col mdl-cell--12-col-desktop ripplelink">
            <div class="mdl-card__title-text uptime-card-title uptime-color">Top 10 Contributed Category (Overall)</div>
            <div class="mdl-layout-spacer"></div>
            <div id="kb_overall_by_catgeory" class="mdl-card__actions mdl-card--border graph-font"></div>
        </div>

        <div class="uptime-graphs mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--6-col mdl-cell--12-col-desktop ripplelink">
            <div class="mdl-card__title-text uptime-card-title uptime-color">Top 10 Contributors (Overall)</div>
            <div class="mdl-layout-spacer"></div>
            <div id="kb_overall_by_author" class="mdl-card__actions mdl-card--border graph-font"></div>
        </div>

    </div>

</main>
{% endblock %}