{% block body %}
<main id="newkb" class="mdl-layout__content mdl-color--grey-100" style="display:none;">
    <div class="mdl-grid uptime-content">

        <div class="mdl-cell mdl-cell--6-col">
            <!--Filter button-->
            <div id="new_filter_div"
                 class="ui dropdown floating labeled icon button scrolling filter-button mdl-cell--hide-phone mdl-cell--hide-tablet">
                <i class="filter icon"></i>
                <div class="text">Filter by category</div>
                <div id="new_filter_menu" class="menu">
                    <div class="header">
                        <i class="tags icon"></i> Choose the category ...
                    </div>
                    <div class="divider"></div>
                </div>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--6-col">
            <!--Days Selector Button-->
            <div>
                <button id="new_kb_07_days_nav"
                        class="new-kb-button toggle-color mdl-cell mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect btn-kbdata">
                    7 Days
                </button>

                <button id="new_kb_15_days_nav"
                        class="new-kb-button mdl-cell mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect btn-kbdata">
                    15 Days
                </button>

                <button id="new_kb_30_days_nav"
                        class="new-kb-button mdl-cell mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect btn-kbdata">
                    30 Days
                </button>
            </div>
        </div>

    </div>


    <!--Table Data-->
    <div id="new_kb_07_days" class="active-kb">
    </div>

    <div id="new_kb_15_days" class="inactive-kb">
    </div>

    <div id="new_kb_30_days" class="inactive-kb">
    </div>

</main>
{% endblock %}