{% block body %}
<main id="metrics" class="mdl-layout__content mdl-color--grey-100" style="display:none;">
    <div class="mdl-grid uptime-content">

        <h2> Overall Statistics </h2>
        <table id="metric_all" class="mdl-cell mdl-cell--12-col mdl-data-table mdl-js-data-table mdl-shadow--2dp">
            <thead>
            <tr>
                <th class="th-color mdl-data-table__cell--non-numeric">Description</th>
                <th class="th-color mdl-data-table__cell--non-numeric text-align-right">Total</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>

        <h2> Ownership Statistics </h2>
          <table id="metric_owned" class="mdl-cell mdl-cell--12-col mdl-data-table mdl-js-data-table mdl-shadow--2dp">
            <thead>
            <tr>
                <th class="th-color mdl-data-table__cell--non-numeric">Description</th>
                <th class="th-color mdl-data-table__cell--non-numeric text-align-right">Total</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>

        <h2> Statistics for last 90 Days </h2>
        <table id="metric_quarter" class="mdl-cell mdl-cell--12-col mdl-data-table mdl-js-data-table mdl-shadow--2dp">
            <thead>
            <tr>
                <th class="th-color mdl-data-table__cell--non-numeric">Description</th>
                <th class="th-color mdl-data-table__cell--non-numeric text-align-right">Total</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>

        <h2> Statistics for last 30 Days </h2>
        <table id="metric_month" class="mdl-cell mdl-cell--12-col mdl-data-table mdl-js-data-table mdl-shadow--2dp">
            <thead>
            <tr>
                <th class="th-color mdl-data-table__cell--non-numeric">Description</th>
                <th class="th-color mdl-data-table__cell--non-numeric text-align-right">Total</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>

        <h2> Statistics for last 7 Days </h2>
        <table id="metric_week" class="mdl-cell mdl-cell--12-col mdl-data-table mdl-js-data-table mdl-shadow--2dp">
            <thead>
            <tr>
                <th class="th-color mdl-data-table__cell--non-numeric">Description</th>
                <th class="th-color mdl-data-table__cell--non-numeric text-align-right">Total</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>

    </div>
</main>
{% endblock %}