{% block body %}
<main id="metrics" class="mdl-layout__content mdl-color--grey-100" style="display:none;">
    <div class="mdl-grid uptime-content">

        <!--My Metrics-->
        <div class="mdl-card__title-text uptime-card-title2 uptime-color"><br/>My Metrics</div>
        <div class="mdl-card__actions mdl-card--border graph-font"></div>

        <table id="metric_all_stats" class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-data-table mdl-js-data-table mdl-shadow--2dp">
            <thead>
            <tr>
                <th class="th-color mdl-data-table__cell--non-numeric">Overall</th>
                <th class="th-color mdl-data-table__cell--non-numeric text-align-right">Total</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>

        <table id="metric_owned_stats" class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-data-table mdl-js-data-table mdl-shadow--2dp">
            <thead>
            <tr>
                <th class="th-color mdl-data-table__cell--non-numeric">Ownership</th>
                <th class="th-color mdl-data-table__cell--non-numeric text-align-right">Total</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>

        <table id="metric_week_stats" class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-data-table mdl-js-data-table mdl-shadow--2dp">
            <thead>
            <tr>
                <th class="th-color mdl-data-table__cell--non-numeric">Last 7 Days</th>
                <th class="th-color mdl-data-table__cell--non-numeric text-align-right">Total</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>

        <table id="metric_month_stats" class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-data-table mdl-js-data-table mdl-shadow--2dp">
            <thead>
            <tr>
                <th class="th-color mdl-data-table__cell--non-numeric">Last 30 Days</th>
                <th class="th-color mdl-data-table__cell--non-numeric text-align-right">Total</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>

        <table id="metric_quarter_stats" class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-data-table mdl-js-data-table mdl-shadow--2dp">
            <thead>
            <tr>
                <th class="th-color mdl-data-table__cell--non-numeric">Last 90 Days</th>
                <th class="th-color mdl-data-table__cell--non-numeric text-align-right">Total</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>


        <!--Ticket Assignment-->
        <div>
            <div class="mdl-cell--hide-tablet mdl-cell--hide-phone">
                <div class="mdl-card__title-text uptime-card-title2 uptime-color"><br/>Tickets Assigned</div>
                <div class="mdl-card__actions mdl-card--border graph-font"></div>

                <table id="assigned_by_month" class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                    <thead>
                        <tr>
                            <th class="th-color mdl-data-table__cell--non-numeric mdl-cell--hide-tablet mdl-cell--hide-phone">Year</th>
                            <th class="th-color mdl-data-table__cell--non-numeric mdl-cell--hide-tablet mdl-cell--hide-phone">January</th>
                            <th class="th-color mdl-data-table__cell--non-numeric mdl-cell--hide-tablet mdl-cell--hide-phone">February</th>
                            <th class="th-color mdl-data-table__cell--non-numeric mdl-cell--hide-tablet mdl-cell--hide-phone">March</th>
                            <th class="th-color mdl-data-table__cell--non-numeric mdl-cell--hide-tablet mdl-cell--hide-phone">April</th>
                            <th class="th-color mdl-data-table__cell--non-numeric mdl-cell--hide-tablet mdl-cell--hide-phone">May</th>
                            <th class="th-color mdl-data-table__cell--non-numeric mdl-cell--hide-tablet mdl-cell--hide-phone">June</th>
                            <th class="th-color mdl-data-table__cell--non-numeric mdl-cell--hide-tablet mdl-cell--hide-phone">July</th>
                            <th class="th-color mdl-data-table__cell--non-numeric mdl-cell--hide-tablet mdl-cell--hide-phone">August</th>
                            <th class="th-color mdl-data-table__cell--non-numeric mdl-cell--hide-tablet mdl-cell--hide-phone">September</th>
                            <th class="th-color mdl-data-table__cell--non-numeric mdl-cell--hide-tablet mdl-cell--hide-phone">October</th>
                            <th class="th-color mdl-data-table__cell--non-numeric mdl-cell--hide-tablet mdl-cell--hide-phone">November</th>
                            <th class="th-color mdl-data-table__cell--non-numeric mdl-cell--hide-tablet mdl-cell--hide-phone">December</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>

            </div>
        </div>


        <!--Ticket Solved-->
        <div>
            <div class="mdl-cell--hide-tablet mdl-cell--hide-phone">
                <div class="mdl-card__title-text uptime-card-title2 uptime-color"><br/>Tickets Closed/Solved</div>
                <div class="mdl-card__actions mdl-card--border graph-font"></div>
                <table id="solved_by_month" class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                    <thead>
                    <tr>
                        <th class="th-color mdl-data-table__cell--non-numeric mdl-cell--hide-tablet mdl-cell--hide-phone">Year</th>
                        <th class="th-color mdl-data-table__cell--non-numeric mdl-cell--hide-tablet mdl-cell--hide-phone">January</th>
                        <th class="th-color mdl-data-table__cell--non-numeric mdl-cell--hide-tablet mdl-cell--hide-phone">February</th>
                        <th class="th-color mdl-data-table__cell--non-numeric mdl-cell--hide-tablet mdl-cell--hide-phone">March</th>
                        <th class="th-color mdl-data-table__cell--non-numeric mdl-cell--hide-tablet mdl-cell--hide-phone">April</th>
                        <th class="th-color mdl-data-table__cell--non-numeric mdl-cell--hide-tablet mdl-cell--hide-phone">May</th>
                        <th class="th-color mdl-data-table__cell--non-numeric mdl-cell--hide-tablet mdl-cell--hide-phone">June</th>
                        <th class="th-color mdl-data-table__cell--non-numeric mdl-cell--hide-tablet mdl-cell--hide-phone">July</th>
                        <th class="th-color mdl-data-table__cell--non-numeric mdl-cell--hide-tablet mdl-cell--hide-phone">August</th>
                        <th class="th-color mdl-data-table__cell--non-numeric mdl-cell--hide-tablet mdl-cell--hide-phone">September</th>
                        <th class="th-color mdl-data-table__cell--non-numeric mdl-cell--hide-tablet mdl-cell--hide-phone">October</th>
                        <th class="th-color mdl-data-table__cell--non-numeric mdl-cell--hide-tablet mdl-cell--hide-phone">November</th>
                        <th class="th-color mdl-data-table__cell--non-numeric mdl-cell--hide-tablet mdl-cell--hide-phone">December</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
{% endblock %}