{% block body %}
<main id="metrics" class="mdl-layout__content mdl-color--grey-100" style="display:none;">
    <div class="mdl-grid uptime-content">

        <table id="metric_all" class="mdl-cell mdl-cell--6-col mdl-data-table mdl-js-data-table mdl-shadow--2dp">
            <thead>
            <tr>
                <th class="th-color mdl-data-table__cell--non-numeric">Overall</th>
                <th class="th-color mdl-data-table__cell--non-numeric text-align-right">Total</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>

          <table id="metric_owned" class="mdl-cell mdl-cell--6-col mdl-data-table mdl-js-data-table mdl-shadow--2dp">
            <thead>
            <tr>
                <th class="th-color mdl-data-table__cell--non-numeric">Ownership</th>
                <th class="th-color mdl-data-table__cell--non-numeric text-align-right">Total</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>

        <table id="metric_week" class="mdl-cell mdl-cell--4-col mdl-data-table mdl-js-data-table mdl-shadow--2dp">
            <thead>
            <tr>
                <th class="th-color mdl-data-table__cell--non-numeric">Last 7 Days</th>
                <th class="th-color mdl-data-table__cell--non-numeric text-align-right">Total</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>

        <table id="metric_month" class="mdl-cell mdl-cell--4-col mdl-data-table mdl-js-data-table mdl-shadow--2dp">
            <thead>
            <tr>
                <th class="th-color mdl-data-table__cell--non-numeric">Last 30 Days</th>
                <th class="th-color mdl-data-table__cell--non-numeric text-align-right">Total</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>

         <table id="metric_quarter" class="mdl-cell mdl-cell--4-col mdl-data-table mdl-js-data-table mdl-shadow--2dp">
            <thead>
            <tr>
                <th class="th-color mdl-data-table__cell--non-numeric">Last 90 Days</th>
                <th class="th-color mdl-data-table__cell--non-numeric text-align-right">Total</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>

    </div>
</main>
{% endblock %}