{% block body %}
        <div class="sidebar" data-color="purple" data-image="{{ url_for('static',filename='img/sidebar-1.jpg')}}">
			<!--
                Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

                Tip 2: you can also add an image using data-image tag
            -->
			<div class="sidebar-wrapper">
				<ul class="nav">
                    <li class="active">
						<img src="{{picture}}" class="img-circle profile-picture" alt="Cinque Terre">
                        <h4 class="title text_alignment">{{name}}</h4>
                        <div class="logo"></div>
					</li>

					<li id="dashboard_nav">
						<a href="dashboard"><i class="material-icons">dashboard</i>
						<p>Dashboard</p></a>
					</li>
					<li id="metrics_nav">
						<a href="metrics"><i class="material-icons">storage</i>
						<p>Metrics</p></a>
					</li>
					<li id="historical_nav" >
						<a href="historical"><i class="material-icons">content_paste</i>
						<p>Historical</p></a>
					</li>
					<li id="trends_nav" >
						<a href="trends"><i class="material-icons">timeline</i>
						<p>Trends</p></a>
					</li>
					<li id="weblinks_nav" >
						<a href="weblinks"><i class="fa fa-external-link" aria-hidden="true"></i>
						<p>Web Links</p></a>
					</li>
					<li id="mykb_nav">
						<a href="mykb"><i class="material-icons">local_library</i>
						<p>My Knowledge Base</p></a>
					</li>
					<li id="newkb_nav">
						<a href="newkb"><i class="material-icons">add</i>
						<p>New Articles</p></a>
					</li>
					<li id="updatedkb_nav">
						<a href="updatedkb"><i class="material-icons">create</i>
						<p>Updated Articles</p></a>
					</li>
					<li class="active-pro" id="analyticskb_nav">
						<a href="analyticskb"><i class="material-icons">trending_up</i>
						<p>KB Analytics</p></a>
					</li>
				</ul>
			</div>

		</div>
{% endblock %}