{% include "header.html" %}

<body>

	<div class="wrapper">

		{% include "navigationbar.html" %}

	    <div class="main-panel">

			<nav class="navbar navbar-transparent navbar-absolute">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<p class="navbar-brand">Trends</p>
					</div>
				</div>
			</nav>

            <div class="sidebar-container content">
		        <div class="container-fluid">

					<div class="row">
	                    <div class="col-md-12">
	                        <div class="card card-plain">
	                            <div class="card-header" data-background-color="purple">
	                                <h4 class="title">Today</h4>
	                            </div>
	                    	</div>
	                	</div>
	            	</div>

                    <!--# Today Trend Cards-->
			        <div class="row">
				        <div class="col-lg-2 col-md-2 col-sm-2">
					        <div class="card">
						        <div class="card-header" data-background-color="orange">
                                    <p class="title trend-text-title">Created</p>
						        </div>
						        <div class="card-content trend-card-content">
							        <h3 class="title trend-content-text" id="total_trend_created">00</h3>
						        </div>
					        </div>
				        </div>
				        <div class="col-lg-2 col-md-2 col-sm-2">
					        <div class="card">
						        <div class="card-header" data-background-color="orange">
                                    <p class="title trend-text-title">Solved</p>
						        </div>
						        <div class="card-content trend-card-content">
							        <h3 class="title trend-content-text" id="total_trend_solved">00</h3>
						        </div>
					        </div>
				        </div>
				        <div class="col-lg-2 col-md-2 col-sm-2">
					        <div class="card">
						        <div class="card-header" data-background-color="orange">
                                    <p class="title trend-text-title">Backlog</p>
						        </div>
						        <div class="card-content trend-card-content">
							        <h3 class="title trend-content-text" id="total_trend_backlog">00</h3>
						        </div>
					        </div>
				        </div>
				        <div class="col-lg-2 col-md-2 col-sm-2">
					        <div class="card">
						        <div class="card-header" data-background-color="orange">
                                    <p class="title trend-text-title">Open</p>
						        </div>
						        <div class="card-content trend-card-content">
							        <h3 class="title trend-content-text" id="total_trend_open">00</h3>
						        </div>
					        </div>
				        </div>
				        <div class="col-lg-2 col-md-2 col-sm-2">
					        <div class="card">
						        <div class="card-header" data-background-color="orange">
                                    <p class="title trend-text-title">Pending</p>
						        </div>
						        <div class="card-content trend-card-content">
							        <h3 class="title trend-content-text" id="total_trend_pending">00</h3>
						        </div>
					        </div>
				        </div>
				        <div class="col-lg-2 col-md-2 col-sm-2">
					        <div class="card">
						        <div class="card-header" data-background-color="orange">
                                    <p class="title trend-text-title">On Hold</p>
						        </div>
						        <div class="card-content trend-card-content">
							        <h3 class="title trend-content-text" id="total_trend_hold">00</h3>
						        </div>
					        </div>
				        </div>
			        </div>

			        <div class="row">
				        <div class="col-lg-2 col-md-2 col-sm-2">
					        <div class="card">
						        <div class="card-header" data-background-color="green">
                                    <p class="title trend-text-title">Severity 01</p>
						        </div>
						        <div class="card-content trend-card-content">
							        <h3 class="title trend-content-text" id="total_trend_sev1">00</h3>
						        </div>
					        </div>
				        </div>
				        <div class="col-lg-2 col-md-2 col-sm-2">
					        <div class="card">
						        <div class="card-header" data-background-color="green">
                                    <p class="title trend-text-title">Severity 02</p>
						        </div>
						        <div class="card-content trend-card-content">
							        <h3 class="title trend-content-text" id="total_trend_sev2">00</h3>
						        </div>
					        </div>
				        </div>
				        <div class="col-lg-2 col-md-2 col-sm-2">
					        <div class="card">
						        <div class="card-header" data-background-color="green">
                                    <p class="title trend-text-title">Severity 03</p>
						        </div>
						        <div class="card-content trend-card-content">
							        <h3 class="title trend-content-text" id="total_trend_sev3">00</h3>
						        </div>
					        </div>
				        </div>
				        <div class="col-lg-2 col-md-2 col-sm-2">
					        <div class="card">
						        <div class="card-header" data-background-color="green">
                                    <p class="title trend-text-title">Severity 04</p>
						        </div>
						        <div class="card-content trend-card-content">
							        <h3 class="title trend-content-text" id="total_trend_sev4">00</h3>
						        </div>
					        </div>
				        </div>
				        <div class="col-lg-2 col-md-2 col-sm-2">
					        <div class="card">
						        <div class="card-header" data-background-color="green">
                                    <p class="title trend-text-title">Agent Replies</p>
						        </div>
						        <div class="card-content trend-card-content">
							        <h3 class="title trend-content-text" id="total_trend_replies">00</h3>
						        </div>
					        </div>
				        </div>
				        <div class="col-lg-2 col-md-2 col-sm-2">
					        <div class="card">
						        <div class="card-header" data-background-color="green">
                                    <p class="title trend-text-title">Agent Time</p>
						        </div>
						        <div class="card-content trend-card-content">
							        <h3 class="title trend-content-text" id="total_trend_agent_time">00</h3>
						        </div>
					        </div>
				        </div>
			        </div>

					<!--# Created today -->
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="card card-stats">
                                <div class="card-header" data-background-color="red">
                                    <i class="fa fa-pie-chart" aria-hidden="true"></i>
                                </div>
                                <div class="card-content">
                                    <h4 class="card-title title-text-align">Created (Top 10)</h4>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 pie-char-padding">
                                    <div class="ct-chart" id="total_trend_created_by_product"></div>
                                </div>
                            </div>
                        </div>

                        <!--# backlog -->
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="card card-stats">
                                <div class="card-header" data-background-color="red">
                                    <i class="material-icons">trending_down</i>
                                </div>
                                <div class="card-content">
                                    <h4 class="card-title title-text-align">Backlog (Top 06)</h4>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="ct-chart" id="total_trend_backlog_by_product"></div>
                                </div>
                            </div>
                        </div>
                    </div>

					<!--# Created by Org  -->
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="card card-stats">
                                <div class="card-header" data-background-color="red">
                                    <i class="fa fa-pie-chart" aria-hidden="true"></i>
                                </div>
                                <div class="card-content">
                                    <h4 class="card-title title-text-align">Created by Org (Top 10)</h4>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 pie-char-padding">
                                    <div class="ct-chart" id="total_trend_created_by_org"></div>
                                </div>
                            </div>
                        </div>

                        <!--# Solved -->
                     	<div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="card card-stats">
                                <div class="card-header" data-background-color="red">
                                    <i class="fa fa-pie-chart" aria-hidden="true"></i>
                                </div>
                                <div class="card-content">
                                    <h4 class="card-title title-text-align">Solved (Top 10)</h4>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 pie-char-padding">
                                    <div class="ct-chart" id="total_trend_solved_by_product"></div>
                                </div>
                            </div>
                        </div>
                    </div>


					<!--Current Week Trends-->
					<div class="row">
	                    <div class="col-md-12">
	                        <div class="card card-plain">
	                            <div class="card-header" data-background-color="purple">
	                                <h4 class="title">Current Week</h4>
	                            </div>
	                    	</div>
	                	</div>
	            	</div>

					<!--# Current Week Trend Cards-->
			        <div class="row">

						<div class="col-lg-6 col-md-6 col-sm-6">
							<div class="col-lg-4 col-md-4 col-sm-4">
								<div class="card">
									<div class="card-header" data-background-color="orange">
										<p class="title trend-text-title">Created</p>
									</div>
									<div class="card-content trend-card-content">
										<h3 class="title trend-content-text" id="total_trend_created_currentweek">00</h3>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4">
								<div class="card">
									<div class="card-header" data-background-color="red">
										<p class="title trend-text-title">Severity 03</p>
									</div>
									<div class="card-content trend-card-content">
										<h3 class="title trend-content-text" id="total_trend_sev3_currentweek">00</h3>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4">
								<div class="card">
									<div class="card-header" data-background-color="green">
										<p class="title trend-text-title">Closed</p>
									</div>
									<div class="card-content trend-card-content">
										<h3 class="title trend-content-text" id="total_trend_solved_currentweek">00</h3>
									</div>
								</div>
							</div>

							<div class="col-lg-4 col-md-4 col-sm-4">
								<div class="card">
									<div class="card-header" data-background-color="orange">
										<p class="title trend-text-title">Severity 01</p>
									</div>
									<div class="card-content trend-card-content">
										<h3 class="title trend-content-text" id="total_trend_sev1_currentweek">00</h3>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4">
								<div class="card">
									<div class="card-header" data-background-color="red">
										<p class="title trend-text-title">Severity 04</p>
									</div>
									<div class="card-content trend-card-content">
										<h3 class="title trend-content-text" id="total_trend_sev4_currentweek">00</h3>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4">
								<div class="card">
									<div class="card-header" data-background-color="green">
										<p class="title trend-text-title">Agent Replies</p>
									</div>
									<div class="card-content trend-card-content">
										<h3 class="title trend-content-text" id="total_trend_agent_replies_currentweek">00</h3>
									</div>
								</div>
							</div>

							<div class="col-lg-4 col-md-4 col-sm-4">
								<div class="card">
									<div class="card-header" data-background-color="orange">
										<p class="title trend-text-title">Severity 02</p>
									</div>
									<div class="card-content trend-card-content">
										<h3 class="title trend-content-text" id="total_trend_sev2_currentweek">00</h3>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4">
								<div class="card">
									<div class="card-header" data-background-color="red">
										<p class="title trend-text-title">No Severity</p>
									</div>
									<div class="card-content trend-card-content">
										<h3 class="title trend-content-text" id="total_trend_no_sev_currentweek">00</h3>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4">
								<div class="card">
									<div class="card-header" data-background-color="green">
										<p class="title trend-text-title">Agent Time</p>
									</div>
									<div class="card-content trend-card-content">
										<h3 class="title trend-content-text" id="total_trend_agent_time_currentweek">00</h3>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6">
							<div class="card card-stats">
								<div class="card-header" data-background-color="red">
									<i class="fa fa-pie-chart" aria-hidden="true"></i>
								</div>
								<div class="card-content">
									<h4 class="card-title title-text-align">Created (Top 10)</h4>
								</div>
								<div class="col-lg-12 col-md-12 col-sm-12 pie-char-padding">
									<div class="ct-chart" id="total_trend_created_by_product_currentweek"></div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-6">
							<div class="card card-stats">
								<div class="card-header" data-background-color="red">
									<i class="fa fa-pie-chart" aria-hidden="true"></i>
								</div>
								<div class="card-content">
									<h4 class="card-title title-text-align">Created by Org (Top 10)</h4>
								</div>
								<div class="col-lg-12 col-md-12 col-sm-12 pie-char-padding">
									<div class="ct-chart" id="total_trend_created_by_org_currentweek"></div>
								</div>
							</div>
						</div>

						<div class="col-lg-6 col-md-6 col-sm-6">
							<div class="card card-stats">
								<div class="card-header" data-background-color="red">
									<i class="fa fa-pie-chart" aria-hidden="true"></i>
								</div>
								<div class="card-content">
									<h4 class="card-title title-text-align">Closed / Solved (Top 10)</h4>
								</div>
								<div class="col-lg-12 col-md-12 col-sm-12 pie-char-padding">
									<div class="ct-chart" id="total_trend_solved_by_product_currentweek"></div>
								</div>
							</div>
						</div>
					</div>


					<!--Last Week Trends-->
					<div class="row">
	                    <div class="col-md-12">
	                        <div class="card card-plain">
	                            <div class="card-header" data-background-color="purple">
	                                <h4 class="title">Last Week</h4>
	                            </div>
	                    	</div>
	                	</div>
	            	</div>

					<!--# Last Week Trend Cards-->
			        <div class="row">

						<div class="col-lg-6 col-md-6 col-sm-6">
							<div class="col-lg-4 col-md-4 col-sm-4">
								<div class="card">
									<div class="card-header" data-background-color="orange">
										<p class="title trend-text-title">Created</p>
									</div>
									<div class="card-content trend-card-content">
										<h3 class="title trend-content-text" id="total_trend_created_lastweek">00</h3>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4">
								<div class="card">
									<div class="card-header" data-background-color="red">
										<p class="title trend-text-title">Severity 03</p>
									</div>
									<div class="card-content trend-card-content">
										<h3 class="title trend-content-text" id="total_trend_sev3_lastweek">00</h3>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4">
								<div class="card">
									<div class="card-header" data-background-color="green">
										<p class="title trend-text-title">Closed</p>
									</div>
									<div class="card-content trend-card-content">
										<h3 class="title trend-content-text" id="total_trend_solved_lastweek">00</h3>
									</div>
								</div>
							</div>

							<div class="col-lg-4 col-md-4 col-sm-4">
								<div class="card">
									<div class="card-header" data-background-color="orange">
										<p class="title trend-text-title">Severity 01</p>
									</div>
									<div class="card-content trend-card-content">
										<h3 class="title trend-content-text" id="total_trend_sev1_lastweek">00</h3>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4">
								<div class="card">
									<div class="card-header" data-background-color="red">
										<p class="title trend-text-title">Severity 04</p>
									</div>
									<div class="card-content trend-card-content">
										<h3 class="title trend-content-text" id="total_trend_sev4_lastweek">00</h3>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4">
								<div class="card">
									<div class="card-header" data-background-color="green">
										<p class="title trend-text-title">Agent Replies</p>
									</div>
									<div class="card-content trend-card-content">
										<h3 class="title trend-content-text" id="total_trend_agent_replies_lastweek">00</h3>
									</div>
								</div>
							</div>

							<div class="col-lg-4 col-md-4 col-sm-4">
								<div class="card">
									<div class="card-header" data-background-color="orange">
										<p class="title trend-text-title">Severity 02</p>
									</div>
									<div class="card-content trend-card-content">
										<h3 class="title trend-content-text" id="total_trend_sev2_lastweek">00</h3>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4">
								<div class="card">
									<div class="card-header" data-background-color="red">
										<p class="title trend-text-title">No Severity</p>
									</div>
									<div class="card-content trend-card-content">
										<h3 class="title trend-content-text" id="total_trend_no_sev_lastweek">00</h3>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4">
								<div class="card">
									<div class="card-header" data-background-color="green">
										<p class="title trend-text-title">Agent Time</p>
									</div>
									<div class="card-content trend-card-content">
										<h3 class="title trend-content-text" id="total_trend_agent_time_lastweek">00</h3>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6">
							<div class="card card-stats">
								<div class="card-header" data-background-color="red">
									<i class="fa fa-pie-chart" aria-hidden="true"></i>
								</div>
								<div class="card-content">
									<h4 class="card-title title-text-align">Created (Top 10)</h4>
								</div>
								<div class="col-lg-12 col-md-12 col-sm-12 pie-char-padding">
									<div class="ct-chart" id="total_trend_created_by_product_lastweek"></div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-6">
							<div class="card card-stats">
								<div class="card-header" data-background-color="red">
									<i class="fa fa-pie-chart" aria-hidden="true"></i>
								</div>
								<div class="card-content">
									<h4 class="card-title title-text-align">Created by Org (Top 10)</h4>
								</div>
								<div class="col-lg-12 col-md-12 col-sm-12 pie-char-padding">
									<div class="ct-chart" id="total_trend_created_by_org_lastweek"></div>
								</div>
							</div>
						</div>

						<div class="col-lg-6 col-md-6 col-sm-6">
							<div class="card card-stats">
								<div class="card-header" data-background-color="red">
									<i class="fa fa-pie-chart" aria-hidden="true"></i>
								</div>
								<div class="card-content">
									<h4 class="card-title title-text-align">Closed / Solved (Top 10)</h4>
								</div>
								<div class="col-lg-12 col-md-12 col-sm-12 pie-char-padding">
									<div class="ct-chart" id="total_trend_solved_by_product_lastweek"></div>
								</div>
							</div>
						</div>
					</div>

		        </div>
	        </div>

			{% include "footer.html" %}
		</div>
	</div>

</body>
    {% include "javascripts.html" %}
    <script src="{{ url_for('static', filename='js/trends.js')}}"></script>
	<script type="text/javascript">
        $('#trends_nav').addClass("active")
	</script>
</html>
