{% block body %}
<main id="weblinks" class="mdl-layout__content mdl-color--grey-100" style="display:none;">

    <div class="mdl-grid uptime-content">

        <div class="mdl-cell mdl-card mdl-shadow--2dp mdl-cell--5-col mdl-cell--12-col-desktop ripplelink">
            <div class="full-width mdl-card__supporting-text mdl-color-text--grey-600 ">
                <p></p>
                <a id="supportservices-links-nav" class="mdl-navigation__link"><img title="Pivotal Icon"
                                                                                    src="{{ url_for('static', filename = 'images/pivotal.png') }}"
                                                                                    width="95px" height="95px">
                    <span><h1><strong>Support Services</strong></h1></span></a>
            </div>
        </div>

        <div class="mdl-cell mdl-card mdl-shadow--2dp mdl-cell--5-col mdl-cell--6-col-desktop ripplelink">
            <div class="full-width mdl-card__supporting-text mdl-color-text--grey-600 ">
                <p></p>
                <a id="greenplum-links-nav" class="mdl-navigation__link"><img
                        src="https://d1fto35gcfffzn.cloudfront.net/images/products/icons/product-pivotal-greenplum.svg"
                        width="95px" height="95px">
                    <h1><span>Pivotal Greenplum</span></h1></a>
            </div>
        </div>

        <div class="mdl-cell mdl-card mdl-shadow--2dp mdl-cell--5-col mdl-cell--6-col-desktop ripplelink">
            <div class="full-width mdl-card__supporting-text mdl-color-text--grey-600 ">
                <p></p>
                <a id="hdb-links-nav" class="mdl-navigation__link"><img title="Pivotal Hadoop"
                                                                        src="https://d1fto35gcfffzn.cloudfront.net/images/products/icons/product-pivotal-hdb.svg"
                                                                        width="95px" height="95px">
                    <h1><span>Pivotal HDB</span></h1></a>
            </div>
        </div>

        <div class="mdl-cell mdl-card mdl-shadow--2dp mdl-cell--5-col mdl-cell--6-col-desktop ripplelink">
            <div class="full-width mdl-card__supporting-text mdl-color-text--grey-600 ">
                <p></p>
                <a id="gemfire-links-nav" class="mdl-navigation__link"><img title="Pivotal Gemfire"
                                                                            src="https://d1fto35gcfffzn.cloudfront.net/images/products/icons/product-pivotal-gemfire.svg"
                                                                            width="95px" height="95px">
                    <h1><span>Pivotal Gemfire</span></h1></a>
            </div>
        </div>

        <div class="mdl-cell mdl-card mdl-shadow--2dp mdl-cell--5-col mdl-cell--6-col-desktop ripplelink">
            <div class="full-width mdl-card__supporting-text mdl-color-text--grey-600 ">
                <p></p>
                <a id="pcf-links-nav" class="mdl-navigation__link"><img title="Pivotal Cloud Foundary"
                                                                        src="{{ url_for('static', filename = 'images/pcf.png') }}"
                                                                        width="130px" height="90px">
                    <h1><span>Pivotal Cloud Foundry</span></h1></a>
            </div>
        </div>
    </div>

</main>

{% endblock %}