{% block body %}

<main class="mdl-layout__content mdl-color--grey-100">

    <!--Support services links-->

    <div id="supportservices-links" class="show-form-button" style="display:none">
        <div class="mdl-grid uptime-content">

            <table id="support_services-links-table-left"
                   class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                <tbody>
                </tbody>
            </table>

            <table id="support_services-links-table-right"
                   class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                <tbody>
                </tbody>
            </table>

            <div id="support_services-links-info">
            </div>

        </div>
    </div>


    <!--Greenplum links-->

    <div id="greenplum-links" class="show-form-button" style="display:none">
        <div class="mdl-grid uptime-content">


            <table id="pivotal_greenplum-links-table-left"
                   class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                <tbody>
                </tbody>
            </table>

            <table id="pivotal_greenplum-links-table-right"
                   class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                <tbody>
                </tbody>
            </table>

            <div id="pivotal_greenplum-links-info">
            </div>
        </div>
    </div>

    <!--hdb links-->

    <div id="hdb-links" class="show-form-button" style="display:none">
        <div class="mdl-grid uptime-content">

            <table id="pivotal_hdb-links-table-left"
                   class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                <tbody>
                </tbody>
            </table>

            <table id="pivotal_hdb-links-table-right"
                   class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                <tbody>
                </tbody>
            </table>

            <div id="pivotal_hdb-links-info">
            </div>

        </div>
    </div>

    <!--Gemfire links-->

    <div id="gemfire-links" class="show-form-button" style="display:none">
        <div class="mdl-grid uptime-content">

            <table id="pivotal_gemfire-links-table-left"
                   class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                <tbody>
                </tbody>
            </table>

            <table id="pivotal_gemfire-links-table-right"
                   class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                <tbody>
                </tbody>
            </table>

            <div id="pivotal_gemfire-links-info">
            </div>

        </div>
    </div>

    <!--PCF links-->

    <div id="pcf-links" class="show-form-button" style="display:none">
        <div class="mdl-grid uptime-content">

            <table id="pivotal_cloud_foundry-links-table-left"
                   class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                <tbody>
                </tbody>
            </table>

            <table id="pivotal_cloud_foundry-links-table-right"
                   class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                <tbody>
                </tbody>
            </table>

            <div id="pivotal_cloud_foundry-links-info">
            </div>

        </div>
    </div>

    {% include "weblinks_form.html" %}

</main>
{% endblock %}