{% block body %}

        <!--Add Button-->

        <button id="add-link" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect btn-align" style="display:none">
          <i class="material-icons">add</i>
        </button>

        <!--Add form-->

        <div id="add-form" class="ui basic modal">
            <div class="actions">
                <div class="ui cancel circular inverted red icon button"><i class="icon remove"></i></div>
            </div>

            <form action="{{ url_for('post_weblink_form_data') }}" method="Post" id="form-link">

                <table>
                    <tbody>
                        <tr>
                            <td>
                                <div class="mdl-textfield mdl-cell--8-col mdl-cell--6-col-tablet mdl-cell--12-col-desktop mdl-js-textfield mdl-textfield--floating-label">
                                  <input class="mdl-textfield__input" type="hidden" name="weblink_row_id" id="weblink_row_id" value=''>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="uptime-color"><b>Category</b></label>
                                <div class="mdl-selectfield mdl-textfield mdl-cell--8-col mdl-cell--6-col-tablet mdl-cell--12-col-desktop mdl-js-textfield mdl-textfield--floating-label">
                                    <select id="product_category" name="pivotal_products" required>
                                        <option value="" disabled selected>Choose the component....</option>
                                        <option value="support_services">Pivotal Support Services</option>
                                        <option value="pivotal_greenplum">Pivotal Greenplum</option>
                                        <option value="pivotal_hdb">Pivotal HDB</option>
                                        <option value="pivotal_gemfire">Pivotal Gemfire</option>
                                        <option value="pivotal_cloud_foundry">Pivotal Cloud Foundry</option>
                                    </select>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="uptime-color"><b>Short Heading</b></label>
                                <div class="mdl-textfield mdl-cell--8-col mdl-cell--6-col-tablet mdl-cell--12-col-desktop mdl-js-textfield mdl-textfield--floating-label">
                                  <input class="mdl-textfield__input" type="text" name="short_heading" id="short_heading" maxlength="50">
                                  <label class="mdl-textfield__label" for="short_heading">Enter a heading (Max: 50 Characters)....</label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="uptime-color"><b>Website URL</b></label>
                                <div class="mdl-textfield mdl-cell--8-col mdl-cell--6-col-tablet mdl-cell--12-col-desktop mdl-js-textfield mdl-textfield--floating-label">
                                  <input class="mdl-textfield__input" type="url" name="website_url" id="website_url">
                                  <label class="mdl-textfield__label" for="website_url">Enter URL....</label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="uptime-color"><b>Contact Person</b></label>
                                <div class="mdl-textfield mdl-cell--8-col mdl-cell--6-col-tablet mdl-cell--12-col-desktop mdl-js-textfield mdl-textfield--floating-label">
                                  <input class="mdl-textfield__input" type="text" name="contact_person" id="contact_person">
                                  <label class="mdl-textfield__label" for="contact_person">Enter contact person name (for eg.s who needs to be contacted for access/issues etc)....</label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="uptime-color"><b>Email address</b></label>
                                <div class="mdl-textfield mdl-cell--8-col mdl-cell--6-col-tablet mdl-cell--12-col-desktop mdl-js-textfield mdl-textfield--floating-label">
                                  <input class="mdl-textfield__input" type="text" name="contact_person_email" id="contact_person_email">
                                  <label class="mdl-textfield__label" for="contact_person_email">Enter contact person email address (Enter a space if there is no email address)....</label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="uptime-color"><b>Long description (for eg.s like what is it used for etc)</b></label>
                                <div class="mdl-textfield mdl-cell--8-col mdl-cell--6-col-tablet mdl-cell--12-col-desktop mdl-js-textfield mdl-textfield--floating-label">
                                  <textarea class="mdl-textfield__input" type="text" rows="5" name="long_description" id="long_description" maxlength="500"></textarea>
                                  <label class="mdl-textfield__label" for="long_description">Enter a description (Max: 500 Characters)....</label>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <button id="submit-link" class="mdl-button btn-sumbit mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="submit" value="Submit">Submit</button>
                <button id="reset-link" class="mdl-button btn-sumbit mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="reset" value="Submit">Reset</button>

            </form>

            <p style="opacity: 0.5"><br/>
                Disclaimer:<ol style="opacity: 0.5">
                <li>Contributing a link will make the link visible to all the uptime users.</li>
                <li>Please restrain from adding any personal URL's, you may use your browser bookmark instead. </li>
                <li>If the URL's added is not related to pivotal or doesn't meet the standard, uptime admins with remove it from the website.</li>
                </ol>
            </p>
        </div>

        <!--error dialog-->

        <div id="error-dialog-link" class="ui small modal">
              <div class="header">
                    ERROR
              </div>
              <div class="image content">
                  <div class="ui small image center">
                      <i class="remove red icon"></i>
                  </div>
                  <div class="description">
                      <div class="ui header">We have encountered an error in the form.</div>
                      <p id="text-link" >It seems like some of the forms mandatory fields have not been entered.</p>
                      <p>Would you like to continue ?</p>
                  </div>
              </div>
              <div class="actions">
                  <div class="ui black deny button">
                      Nope
                  </div>
                  <div id="continue-link" class="ui positive right labeled icon button">
                      Yes, lets go
                      <i class="checkmark icon"></i>
                  </div>
              </div>
        </div>

        <!--success dialog-->

        <div id="success-dialog-link" class="ui small modal">
              <div class="header">
                    SUCCESS
              </div>
              <div class="image content">
                  <div class="ui small image center">
                      <i class="checkmark green icon"></i>
                  </div>
                  <div class="description">
                      <div class="ui header">Database Updated.</div>
                      <p>The uptime database has successfully registered the entry.</p>
                      <p><strong>PLEASE NOTE:</strong> The uptime web will now refresh to register the new entry. </p>
                  </div>
              </div>
              <div class="actions">
                  <div id="success-link-click" class="ui green deny button">
                      OK
                  </div>
              </div>
        </div>

{% endblock %}